.board {
    position: absolute;
    display: flex;
    height: calc(100vh - 46px);
    min-height: 450px;
    width: 24vw;
    min-width: 215px;
    flex-direction: column;
    background-color: white;
    
    overflow-y: scroll;
}

.board:hover::-webkit-scrollbar-thumb {
    background-color: rgb(177, 177, 177);
  }
  
  .board:hover::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(235, 235, 235, 0);
    border-radius: 8px;
  } 
  
  .board::-webkit-scrollbar {
      width: 7px;
      background-color: rgba(245, 222, 179, 0);
      border-radius: 8px;
    }
  
    .board ::-webkit-scrollbar-thumb {    
      background-color: rgba(255, 255, 255, 0);
      border-radius: 5px;
  } 
.user-profil {
    right: 0px;
    display: flex;
    height: calc(100vh - 46px);
    width: calc( 100% - 2px);
    flex-direction: column;
    border-left: 1px solid rgb(190, 190, 190);
    .user-infor {
        display: flex;
        flex-direction: column;
        align-items: center;

    
        .proflie-avt {
            width: 80px;
            height: 80px;
            margin: 15px 0;
        
            border: 1px solid black;
            border-radius: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
    
    
            img {
                width: 80px;
                height: 80px; 
                object-fit: cover;
                border-radius: 80px;
            
            }
        }
    
        h3 {
            margin: 0 5px;
        }
        
        .active {
            margin-top: 5px;
            font-size: 12px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .profile-user-name {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
        }
    }
    
    
    
    
    
    .setting-chat {
        margin-top: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
    
        .set-c {
            margin-left: 10px;
            padding:  15px 15px;
            width: 100%;
        
            display: flex;
            align-items: center;
        
            border-top: 1px solid grey;
    
    
            img {
                width: 18px;
                padding: 0 5px;
            }
        }

        .set-c:hover {
            cursor: pointer;
            background-color: #eeeef1;
            border-radius: 2px;
        }
    }
    
    
    
    .file-shared {
        width: 95%;
        margin: 0 auto;
        border-top: 2px solid grey;
    }

}