.ChatUI {
    min-width: 500px;
    height: calc(100vh - 52px);
    min-height: 500px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;

    background-color: rgb(242, 251, 255);

    border: 1px solid grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;




    .chat-list {
        width: 20%;
        min-width: 100px;
        margin-left: 10px;
    
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    
        border-right: 1px solid grey;


        .chat-list-head {
            height: 5%;
        
            display: flex;
            align-items: center;


            .ico-plus {
                width: 10px;
            }
            
        }
        
        .chat-list-main {
            width: 100%;
            height: 95%;
            position: relative;


            .cl-main {

                display: flex;
                align-items: center;
            }
            
            .chat-list-title {
                height: 10%;
                font-size: 22px;
                font-weight: 700;
            
            }
            
            .chat-search {
                height: 10%;
            }
            
            .chat-search-form {
                width: 90%;
                height: 25px;
                border-radius: 10px;
            }
            
            .chat-search-form:focus {
                outline: none;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
                background-color: rgba(217, 238, 255, 0.897);
            }

            .chat-search img {
                cursor: pointer;
                width: 20px;
                height: 20px;
                background-color: none;
                border: none;
                position: absolute;
                right: 30px;
            }
            
            .list-users {
                height: 80%;
                width: 100%;
                overflow-y: hidden;
            
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: column;


                .chats-user {
                    height: 70px;
                    padding: 20px 0;
                
                    display: flex;
                    align-items: center;
                
                    border-top: 1px solid lightgray;
                
                
                    .avt-user {
                        width: 50px;
                        height: 50px;
                        margin: 0 10px;
                    
                        border-radius: 50px;
                        background-color: wheat;
                        overflow: hidden;
                    
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                    .avt-user img {
                        width: 40px;
                        height: 40px;
                    }
                    
                }

                .chats-user:hover {
                    background-color: lightgray;
                    border-radius: 10px;
                }
            }
            
            .list-users:hover {
                overflow-y: scroll;
                
            }
            
            ::-webkit-scrollbar {
                width: 8px;
                background-color: lightgray;
                border-radius: 8px;
            }
            
            ::-webkit-scrollbar-thumb {    
                background-color: gray;
            
                border-radius: 5px;
            }
        }
    }
    
    .chat-content {
        width: 57%;
        min-width: 250px;
    
        display: flex;
        flex-direction: column;
        position: relative;
    
        border-right: 1px solid grey;
    



        .user-chatting {
            height: 60px;
        
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            background-color: rgb(68, 158, 248);
        
        
            .user-name {
                margin-left: 10px;
            
                font-size: 20px;
                font-weight: 500;
            }
        
            .btn-setting img {
                width: 20px;
                display: flex;
                flex-direction: row;
                justify-items: flex-end;
            }
        
            button {
                border: none;
                background-color: rgba(255, 255, 255, 0);
            }
        }
        
        .message {
            overflow-y: scroll;
        }
        
        .chat-box {
            height: 50px;
            width: 97%;
            margin: 10px;
        
            display: flex;
            justify-content: space-between;    
            align-items: center;
            position: absolute;
            bottom: 0;
        
        
            img {
                width: 25px;
            
            }
        
            button {
                border: none;
                background-color: rgba(255, 255, 255, 0);
            }
                
            .chat-box-input {
                width: 75%;
                height: 70%;
            
                border-radius: 20px;
                border: 1px solid rgba(160, 212, 255, 0.76);
                background-color: rgba(185, 223, 255, 0.897);
            }
            
            .chat-box-input:focus {
                outline: none;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
                background-color: rgba(217, 238, 255, 0.897);
            }
        }
    }
    
    .user-profile {
        width: 23%;
        min-width: 150px;
    
    

        .user-infor {
            display: flex;
            flex-direction: column;
            align-items: center;
        
        
            .proflie-avt {
                width: 80px;
                height: 80px;
                margin: 15px 0;
            
                border: 1px solid black;
                border-radius: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
        
        
                img {
                    width: 70px;
                    border-radius: 80px;
                
                }
            }
        
            h3 {
                margin: 0;
            }
            
            .active {
                margin-top: 5px;
                font-size: 12px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
        
        
        
        
        
        .setting-chat {
            margin-top: 20px;
        
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        
        
            .set-c {
                margin-left: 10px;
                padding:  15px 15px;
                width: 80%;
            
                display: flex;
                align-items: center;
            
                border-top: 1px solid grey;
        
        
                img {
                    width: 18px;
                    padding: 0 5px;
                }
            }

            .set-c:hover {
                cursor: pointer;
                background-color: rgb(207, 207, 207);
                border-radius: 7px;
            }
        }
        
        
        
        .file-shared {
            width: 90%;
            margin: 0 auto;
            border-top: 2px solid grey;
        }
    
    }
}


