.nav-bar {
    min-width: 70vw;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(29, 29, 29, 0.986);
}

.nar-bar-left {
    height: 100%;
    display:  flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 45px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.bkzalo img {
    height: 35px;
    display: flex;
    align-items: center;
}

