.messenger {
  display: flex;
  height: calc(100vh - 45px);
  background: #eeeef1;

  position: relative;
  overflow-x: hidden;

}

.container {
  padding: 10px;
}


  a {
    display: inline-block;
    color: black;
  }

.sidebar {
  position: relative;
  background: white;
  width: 23vw;
  min-width: 170px;
  border-right: 1px solid rgb(190, 190, 190);
}

.content {
  position: relative;
  background: white;
  width: 77vw;
  // min-width: 460px;
  height: calc(100vh - 45px);
  overflow: hidden;
}

.infor-user-chat {
  display: none;
}

.button-inf {
  position: absolute !important; 
  top: 10px;
  right: 15px; 
  width: 20px;
}

