.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: absolute;
  width: calc( 100% - 20px);
  bottom: 0px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    /* border: none; */
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose .compose-input {
  border: none;
  border-radius: 30px;
  font-size: 14px;
  height: 40px;
  width: 95%;
  /* background: none; */
  background-color: #eeeef1;
  padding-left: 20px;
}

.compose-input:focus {
  background-color: #f0f0f0;
  outline: none;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #0404f8;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}

.compose img {
  width: 25px;
  padding-right: 10px;
}

.compose button {
  background-color: rgba(255, 255, 255, 0);
  width: 45px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-image {
  display: none;
  padding: 0 !important;
  width: 50px !important;
  max-height: 80px;
  position: absolute;
  left: 80px;
  bottom: 56px;

  border-radius: 5px;
  object-fit: cover;
}